{% extends "pages/index.html" %} {% load static %} {% block information %}
<div class="container text-center">
  {% comment %} <img src="{% static 'images/Logo_IUH.png'%}" alt="Logo" /> {%
  endcomment %} {% comment %}
  <h1 class="display-4">Pricing</h1>
  {% endcomment %}
  <h1 class="display-4 mt-5">Data Analysis</h1>
  <div class="row mt-5 mb-5">
    <div class="col">
      <a href="/" class="col btn btn-outline-primary"
        >Home Page</a
      >
    </div>
  </div>
  {% comment %} <div id="baoCaoPage"> {% endcomment %}
    
  </div>
</div>
{% endblock information %}
