{% extends "pages/index.html" %} {% load static %} {% block information %}
<div class="container text-center">
  {% comment %} <img src="{% static 'images/Logo_IUH.png'%}" alt="Logo" /> {% endcomment %}
  {% comment %}
  <h1 class="display-4">Pricing</h1>
  {% endcomment %}
  <h1 class="display-4 mt-5">Home Page</h1>
  <div class="row mt-5 mb-5">
    <div class="col">
      <a href="/simple-chart" class="col btn btn-outline-primary"
        >Simple Chart</a
      >
    </div>
    <div class="col">
      <a href="/data-analysis" class="col btn btn-outline-primary"
        >Data Analysis</a
      >
    </div>
  </div>
  <div class="row text-left">
    <p class="col">Tên đề tài: Johns Hopkins COVID-19 Case Tracker</p>
  </div>
  <div class="row text-left">
    <p class="col">Nhóm: N05</p>
  </div>
</div>
{% endblock information %}
