{% extends "pages/simpleChart.html" %} {% block title %} Ca Mắc Mới {% endblock title %} {% block contentChart %}
<div>
  <div class="row">
    <img
      class="mx-auto"
      src="data:image/png;base64,{{data.uri}}"
      alt=""
      width="50%"
      height="50%"
    />
  </div>
  <div class="row">
    <img
      class="mx-auto"
      src="data:image/png;base64,{{data.tanso}}"
      alt=""
      width="50%"
      height="50%"
    />
  </div>
  <div class="row">
    <img
      class="mx-auto"
      src="data:image/png;base64,{{data.tanSoTichLuy}}"
      alt=""
      width="50%"
      height="50%"
    />
  </div>
  <div class="row">
    <img
      class="mx-auto"
      src="data:image/png;base64,{{data.tanXuat}}"
      alt=""
      width="50%"
      height="50%"
    />
  </div>
  <div class="row">
    <img
      class="mx-auto"
      src="data:image/png;base64,{{data.tanXuatTichLuy}}"
      alt=""
      width="50%"
      height="50%"
    />
  </div>
</div>

{% endblock contentChart %}
